.nav-item {
  margin-left: 10px;
}
.sidebar{
  width: 200px;
  margin-top: 3%;
}
.column {
;
  float: left;
  width: 300px;
  padding: 40px;
}
.card:hover{
  box-shadow: 2px 2px #AAA
}
.row:after {

  content: "";
  display: table;
  clear: both;
}
.row{

  margin-left: 300px;
  margin-top: -150px;
}
li { cursor: pointer; }
